.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #aaaaaa, #7c653f);
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 50;
}

.page-content {
  flex: 1;
  width: 100%;
  /* margin-top: 70px; */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

#hero,
#services,
#demo,
#contact {
  scroll-margin-top: 90px;
}

@media (max-width: 900px) {
  #hero,
  #services,
  #demo,
  #contact {
    scroll-margin-top: 70px;
  }
}
